<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/directives">Directivas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clients">Clientes</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="btn btn-outline-primary" *ngIf="!authService.isAuthenticated()"
          routerLink="/login">Log in
      </li>
      <li class="dropdown" *ngIf="authService.isAuthenticated()">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.user.username}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-item" (click)="authService.logout()">Log out</div>
        </div>
      </li>
    </ul>
  </div>
</nav>
