<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <div class="text-left my-2">
      <button class="btn btn-rounded btn-primary" [routerLink]="['/clients/form']">Crear Cliente
      </button>
    </div>
    <div *ngIf="page.empty" class="alert alert-info">
      No hay clientes registrados
    </div>
    <table class="table" *ngIf="!(page?.empty)">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">email</th>
        <th scope="col">Fecha</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of page.content">
        <th scope="row">
          <button class="btn btn-success"
                  [routerLink]="['/clients/detail', client.id]">{{client.id}}</button>
        </th>
        <td>{{client.name}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.email}}</td>
        <td>{{client.createdAt | date:'fullDate'}}</td>
        <td>
          <button class="btn btn-primary" role="button" [routerLink]="['/clients/form', client.id]">
            Editar
          </button>
          <button class="btn btn-danger ml-3" role="button" [swal]="deleteConfirmDialog">
            Eliminar
          </button>
        </td>
        <swal
          #deleteConfirmDialog
          title="&iquest;Eliminar {{ client.name }} {{ client.lastName}}?"
          text="Esto no se puede deshacer"
          confirmButtonText="Si, eliminar"
          cancelButtonText="No"
          type="warning"
          [showCancelButton]="true"
          [focusCancel]="true"
          (confirm)="deleteClient(client)">
        </swal>
      </tr>
      </tbody>
    </table>
  </div>

  <app-paginator [page]="page" *ngIf="!page.empty"></app-paginator>

</div>
<swal #swalDeleted title="Eliminar cliente" text="El Cliente se eliminó exitosamente"
      type="success"></swal>
