<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">email</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <th scope="row">{{client.id}}</th>
        <td>{{client.name}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.email}}</td>
        <td>{{client.createdAt}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
